
.alert-box {

    position: relative;
    width: 100%;
    
    #alert {
        position: absolute;
        display: none;
        width: 100%;
    }    
}

.form-signin {
    margin-top: 20%;
    
    input {
        padding: 0 20px;
        margin-bottom: 20px;
    }
}